doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title HELYFLY
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
  body
    include modules/header

    include modules/banner

    include modules/main-description
    
    include modules/gallery

    include modules/about-me   

    include modules/schedule

    include modules/map

    include modules/impressions

    include modules/footer
    
    script(type="text/javascript" src="js/script.js")
