//- в нем секшны с заголовками
.about-me 
    .about-me__inner
        .avatar.about-me__avatar-block
            img.avatar-img(src="/img/users/Ellipse.png" alt="" title="")
            .avatar__text-block
                h4.avatar__title Марина Иванова
                span.avatar__occupation Фотограф
                br
                a.avatar__more-link Показать больше информации о фотографе
        section.about-me-section
            h4.about-me-section__title Об организаторе:
            p.about-me-section__text Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах.
            p.about-me-section__text Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
            button.show-more.about-me-section__show-more Читать еще
        section.about-me-section
            h4.about-me-section__title Что я предоставлю:
            p.about-me-section__text Встречу вас на машине после длительного перелёта.  Качественный подбор места и локации для вашей съемки.  При необходимости всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
            button.show-more.about-me-section__show-more Читать еще