.banner
    .banner__inner
        h1.banner__title 
            |Эксклюзивная 
            span фотосессия 
            |при&nbsp;полете на&nbsp;вертолете
            //- делаем череz clip
        .label
            .label__text
                span.label__cost Стоимость:
                br
                span.label__cost-price 1500₽
            span.label__percent-icon %
        a.banner__btn(href="#") Забронировать место