footer.footer
    .footer__inner
        .footer__head-block
            a.logo.footer__logo(href="#")
                object.logo-svg(type="image/svg+xml" data="../img/Vector.svg")
            .footer__social-block
                ul.list.footer__list
                    li.list-item
                        a.footer__social-link_vk
                    li.list-item
                        a.footer__social-link_fb
                    li.list-item
                        a.footer__social-link_instagramm
                //- maybe select?
                button.footer__lang-switcher RU
        .footer__foot-block
            .footer__payment-block
                span.footer__payment-icon_mc
                span.footer__payment-icon_visa
            .footer__copyright-block
                span.footer__contacts Тех. поддержка: 8(800)700-00-00
                span.footer__copyright 2018 HELYFLY. All Rights Reserved.