.gallery
    h3.gallery__title Фотографии пакета
    ul.list.gallery__list
        li.gallery__item
            img.gallery__image(src="../img/gallery/photo1.jpg" alt="" title="")
        li.gallery__item
            img.gallery__image(src="../img/gallery/photo2.jpg" alt="" title="")
        li.gallery__item
            img.gallery__image(src="../img/gallery/photo3.jpg" alt="" title="")
        li.gallery__item
            img.gallery__image(src="../img/gallery/photo4.jpg" alt="" title="")
        li.gallery__item
            img.gallery__image(src="../img/gallery/photo3.jpg" alt="" title="")
        li.gallery__item
            img.gallery__image(src="../img/gallery/photo4.jpg" alt="" title="")
        li.gallery__item
            img.gallery__image(src="../img/gallery/photo2.jpg" alt="" title="")
        li.gallery__item
            img.gallery__image(src="../img/gallery/photo3.jpg" alt="" title="")
    button.gallery__show-photo Показать все фото