header.header
    .header__inner
        a.logo.header__logo(href="#")
            img.logo-img(src="../img/Vector.svg")
        span.header__phone Телефон:
            a.header-phone__num(href="tel:88001231212") 8(800)-123-12-12
        a.header__location Москва
        .header__auth-block
            img.header-icon(src="../img/gallery/header-icon.svg")
        button.header__callback Обратный звонок