article.impressions
    .impressions__inner
        ul.impressions__list
            li.impressions__item
                .avatar.impressions__avatar-block
                    img.avatar-img(src="" alt="" title="")
                    .avatar__text-block
                        h4.avatar__title Марина Иванова
                        span.avatar__occupation Фотограф
                        ul.rate.achievements__rate
                            li.rate__stars
                            li.rate__stars
                            li.rate__stars
                            li.rate__stars
                            li.rate__stars
                        span.impression__emotions Супер! Я бы заказала съемку снова!
                p.impressions__item-feedback
                time.impressions__date(datetime="2019-04-27") 27 Апреля, 2019г.
        button.show-more.impressions__show-more Показать Все (134)

