section.main-description
    .main-description__inner
        h2.main-description__title Фотосессия в&nbsp;вертолете
        .youtube-block
            //- iframe.youtube-video(width="554" height="374" src="https://www.youtube-nocookie.com/embed/x6tu3kCnxY0?start=14&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            a.youtube-block__btn(href="#")
        p.main-description__description Полет на вертолете это прекрасная возможность получить новые ощущения! А&nbsp;наш замечательный фотограф запечатлит лучшие моменты!
        ul.list.main-description__list
            li.main-description__list-item.clock 3 часа съемки
            li.main-description__list-item.language Русский
            li.main-description__list-item.photo Более 50 фотографий
            li.main-description__list-item.money от&nbsp;
                span 850$
            li.main-description__list-item.location.location__moscow Москва
            li.main-description__list-item.location.location__dubai Дубаи
            li.main-description__list-item.question Готовы ответить на любые вопросы
        .achievements.main-description__reviews-block
            span.achievements__icon
            .achievment__right-side
                p.achievements__reviews-text Более 
                    span 150 
                    | отзывов с оценкой
                ul.rate.achievements__rate
                    li.rate__stars
                    li.rate__stars
                    li.rate__stars
                    li.rate__stars
                    li.rate__stars