.map
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A10d28159ca856c2fdc4d75e5a681b9a784439566ecc2fa91e73ef507755cb677&amp;width=100%&amp;height=509&amp;lang=ru_RU&amp;scroll=true"></script>
    .map__content
        ul.list.map__list
            li.list-item.map__list-item
                h4.map__list-title Где встречаемся?
                p.map__list-text Москва
            li.list-item.map__list-item
                h4.map__list-title Время съемки
                p.map__list-text 3 часа
            li.list-item.map__list-item
                h4.map__list-title Мест осталось:
                p.map__list-text 2 места
            li.list-item.map__list-item
                .avatar.map__avatar-block
                    img.avatar-img(src="" alt="" title="")
                    .avatar__text-block
                        h4.avatar__title Марина Иванова
                        span.avatar__occupation Фотограф
                        a.avatar__more-link Показать больше информации