.schedule
    .schedule__inner
        h3.schedule__title Доступная съемка в ближайшее время:
    .schedule__content
        header.schedule__content-header
            span.schedule__date
            button.schedule__calendar
        ul.list.schedule__list
            li.schedule__item
                .schedule__item-text
                    p 15:00 - 18:00
                    span.schedule__price 1500₽
                    p.schedule__place Осталось — 1 место
                button.schedule__item-button Выбрать
            li.schedule__item
                .schedule__item-text
                    p 19:00 - 22:00
                    span.schedule__price 1500₽
                    p.schedule__place Осталось — 1 место
                button.schedule__item-button Выбрать
        footer.schedule__content-footer
            .achievements.schedule__achievements
            span.achievements__icon
            p.achievements__text Готовы ответить на любые вопросы
            ul.rate.achievements__rate
                li.rate__stars
                li.rate__stars
                li.rate__stars
                li.rate__stars
                li.rate__stars

    